* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(203, 148, 255, 0.3);
}
.container {
    display: none;
}

#join-container {
    background-color: white;
    padding: 0px 20px 40px 20px;
    border: 3px solid rgb(117, 74, 203);
    border-radius: 30px;
}

.active {
    display: block;
}

h1 {
    color: rgb(131, 83, 227);
    text-decoration: underline;
    margin-bottom: 50px;
    font-size: 3rem;
}

#join-form {
    border: 2px solid rgb(131, 83, 227);
    border-radius: 30px;
}

#username {
    font-size: 1.5rem;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    border: none;
    outline: none;
    color: rgb(63, 63, 63);
}

.join {
    color: white;
    background-color: rgb(147, 94, 255);
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
}

#chat-container {
    background-color: white;
    padding: 0px 20px 40px 20px;
    border: 3px solid rgb(117, 74, 203);
    border-radius: 30px;
    margin-top: 100px;
}

#chat-container h1 {
    margin: 5px 0px;
}

#chatBox {
    border: 1px solid rgb(117, 74, 203);
    border-radius: 10px;
    width: 300px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
}

.message {
    margin: 10px 10px 5px 10px;
    padding: 5px 10px 6px 5px;
    color: white;
    font-size: 0.8rem;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.new-entry {
    align-self: center;
    color: rgba(0, 0, 0, 0.446);
    font-size: 0.8rem;
    margin: 10px 0px 0px 0px;
}

.display-name {
    font-size: 0.5rem;
    float: left;
    color: rgba(64, 0, 255, 0.654);
}

.msg {
    padding-left: 3px;
    align-self: flex-start;
    align-content: flex-start;
    text-align: left;
}

.other-message {
    background-color: rgba(255, 0, 255, 0.346);
    align-self: flex-start;
    border-radius: 0px 12px 12px 12px;
}

.my-message .display-name {
    float: right;
    color: rgb(106, 0, 255);
}
.my-message {
    background-color: rgba(153, 103, 255, 0.605);
    align-self: flex-end;
    border-radius: 12px 0px 12px 12px;
}

#chat-form {
    border: 2px solid rgb(117, 74, 203);
    margin-top: 10px;
    border-radius: 40px;
}

#chat-form #message {
    border: none;
    width: 232px;
    outline: none;
    padding: 8px 20px;
    border-radius: 40px;
}

#chat-form .send-btn {
    background-color: rgb(131, 83, 227);
    border: none;
    color: white;
    border-radius: 40px;
    padding: 10px 16px;
    cursor: pointer;
}

#chatBox::-webkit-scrollbar {
    width: 0; 
}

